In [1]:
import pyostie

[nltk_data] Downloading package words to
[nltk_data]     /home/anirudhpnbb/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [20]:
a = pyostie.extract(filename="/home/anirudhpnbb/Downloads/Adamala Rohith Reddy offer letter.pdf", insights=True, plotting=True, extension="pdf")

In [24]:
b, c = a.start()

PDF

In [25]:
b

,page_num,par_num,line_num,word_num,left,top,width,height,conf,text,image_width,image_height,topLeft,bottomLeft,bottomRight,topRight
0,1,1,1,1,3042,95,747,242,0.44,OMS,4250,5500,"3042,95","3042,337","3789,337","3789,95"
1,1,1,1,1,3026,387,135,29,0.96,Online,4250,5500,"3026,387","3026,416","3161,416","3161,387"
2,1,1,1,2,3184,388,134,37,0.96,Digital,4250,5500,"3184,388","3184,425","3318,425","3318,388"
3,1,1,1,3,3342,388,210,37,0.96,Marketing,4250,5500,"3342,388","3342,425","3552,425","3552,388"
4,1,1,1,4,3576,387,194,29,0.96,Solutions,4250,5500,"3576,387","3576,416","3770,416","3770,387"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1,1,2,5,2726,5089,279,53,0.95,500081,4250,5500,"2726,5089","2726,5142","3005,5142","3005,5089"
124,1,1,3,1,1216,5181,8,69,0.91,|,4250,5500,"1216,5181","1216,5250","1224,5250","1224,5181"
125,1,1,3,2,1259,5181,521,54,0.90,www.odms.in,4250,5500,"1259,5181","1259,5235","1780,5235","1780,5181"
126,1,1,3,3,1820,5181,1190,69,0.38,|https://www.estatedekho.con)/,4250,5500,"1820,5181","1820,5250","3010,5250","3010,5181"
127,1,1,3,4,3015,5181,66,69,0.96,|,4250,5500,"3015,5181","3015,5250","3081,5250","3081,5181"

In [26]:
c

[' \n\n\n\n\n\n\n˘˘˘ˆ˙˘˚\n˘˘\n˘ˇˆ˙˙˝˛\n˜ \n\n\n˘\n!˘"˙\nˆ"#$%%%&\'˛˙˚\n !#$\n#˚\n()%)#\n˚˘\n%()%()%&\n#˚\n*˙)%)# \nˆ˚˘#" \n.˘˘˘\n/0%&\n2222222222222222223˘\n0(\n,-#ˆ˙˙˘˘./˘00˚\n1\'!.1/˙2˙$%%%3#\n4\n000˚˙\n4\nˇ˚5&&000˚˜ !&4\n']