In [11]:
import pyostie

In [12]:
output = pyostie.extract('/home/anirudhpnbb/Desktop/Cloud Server Invoice - mar-dec 2017.tif', insights=True, extension="tif")

In [13]:
df, text = output.start()

In [14]:
df

,page_num,par_num,line_num,word_num,left,top,width,height,conf,text,image_width,image_height,topLeft,bottomLeft,bottomRight,topRight
0,1,1,1,1,359,501,563,98,0.95,INVOICE,4250,5500,"359,501","359,599","922,599","922,501"
1,1,1,1,2,1935,528,623,75,0.89,IBS/CS/DIM/04,4250,5500,"1935,528","1935,603","2558,603","2558,528"
2,1,1,1,1,401,1028,267,63,0.96,Payment,4250,5500,"401,1028","401,1091","668,1091","668,1028"
3,1,1,1,2,691,1025,112,53,0.93,due,4250,5500,"691,1025","691,1078","803,1078","803,1025"
4,1,1,1,3,825,1025,525,53,0.89,from-March2017,4250,5500,"825,1025","825,1078","1350,1078","1350,1025"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,1,1,1,10,2268,4936,240,41,0.96,PAYABLE,4250,5500,"2268,4936","2268,4977","2508,4977","2508,4936"
139,1,1,1,11,2515,4936,135,42,0.93,TO,4250,5500,"2515,4936","2515,4978","2650,4978","2650,4936"
140,1,1,1,12,2674,4936,378,42,0.90,INTELYTICA,4250,5500,"2674,4936","2674,4978","3052,4978","3052,4936"
141,1,1,1,13,3076,4936,314,42,0.96,BUSINESS,4250,5500,"3076,4936","3076,4978","3390,4978","3390,4936"
142,1,1,1,14,3412,4936,371,42,0.96,ANALYTICS.,4250,5500,"3412,4936","3412,4978","3783,4978","3783,4936"

In [15]:
text

["INVOICE IBS/CS/DIM/04\n\n \n\n \n\nPayment due from-March2017 to dec-2017 AE D 3 ' 400 . 0 0\n\nKiran Kumar Umesh Rao Intelytica Business Analytics\nDimensions Information Technology\nP. O. Box 129354\n\nAbu Dhabi, UAE\n\nCivil Supplies Bhavan Lane\nSomajiguda\nHyderabad, India\n\n \n\nDETAILS QUANTITY UNIT PRICE TOTAL\n1 Windows Server on the Cloud (Months) 10 340.00 3400.00\n4 Cores\n8 GB RAM\n\n100 GB Hard Disk\n100 GB Data Transfer\nWindows 2008 R2 OS\n\nSQL Server Express Edition Database\n\nDiscount\nNet Total AED 3,400.00\nTax\nAED TOTAL AED 3,400.00\nPAYMENT DETAILS OTHER INFORMATION\nName of Beneficiary: Intelytica Business Analytics Pvt. Ltd. Vijay Kumar Cuddappah\nName of Bank: State Bank of Hyderabad Phone: +91-40-23310008\nAddress of Bank: Panjagutta Branch, Hyderabad\nAccount Number: 62461228907 www.intelytica.com\n\nRouting Number (SWIFT Code): SBHYINBBO20\nPayment Reference: IBS/CS/DIM/04\n\nvijay.cuddapah@intelytica.com\n\nPAYMENT SHOULD BE MADE BY BANK TRANSFER OR CHEQUE PAYABLE TO INTELYTICA BUSINESS ANALYTICS.\n\x0c"]