In [1]:
import pyostie

In [2]:
output = pyostie.extract('/home/anirudhpnbb/Downloads/Patterson Invoice 1.pdf', insights=True, extension="pdf")

In [3]:
df, text = output.start()

pdf
We are currently not generating insights for multi page pdf's, so returning only text. Please watch this space for updates.

ValueError: too many values to unpack (expected 2)

In [ ]:
df

In [5]:
import pandas as pd

In [7]:
a = pd.DataFrame([{"a":1, "b": 2}])

In [8]:
a

   a  b
0  1  2

In [16]:
c = [a]

In [17]:
c

[   a  b
 0  1  2]

In [26]:
df = pd.read_excel("/home/anirudhpnbb/Projects/Intelytica/intelligent-recognition/output/anchor_columns_output/17_006Trimax_04_jpg_16042021_011634_anchor_columns_output.xlsx")

In [22]:
df = df.set_index('Unnamed: 0').T.to_dict('list')

In [23]:
df

{0: ['INTELYTICA',
  'INTELYTICA',
  0.959,
  0,
  nan,
  nan,
  0,
  nan,
  2200,
  1700,
  1,
  '[1187, 196, 1385, 196, 1385, 224, 1187, 223]',
  '[1189, 196, 1384, 197, 1384, 225, 1188, 224]',
  '(1189, 196)',
  '(1384, 197)',
  '(1384, 225)',
  '(1188, 224)',
  24.06,
  18.32,
  21.29,
  39.89,
  24.06,
  18.3,
  21.29,
  39.91,
  3.7,
  0.52,
  3.67,
  0.52,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'XXXXXXXXXX',
  'XXXXXXXXXX',
  0,
  'None',
  0,
  0],
 1: ['Invoice',
  'Invoice',
  0.938,
  1,
  1.0,
  2.0,
  0,
  nan,
  2200,
  1700,
  1,
  '[831, 362, 957, 362, 958, 395, 831, 396]',
  '[833, 363, 958, 363, 958, 396, 832, 397]',
  '(833, 363)',
  '(958, 363)',
  '(958, 396)',
  '(832, 397)',
  27.5,
  15.82,
  17.91,
  42.39,
  27.53,
  15.78,
  17.9,
  42.43,
  2.36,
  0.64,
  2.34,
  0.62,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxx',
  'Xxxxxxx',
  0,
  'None',
  0,
  'Invoice Label'],
 2: ['To',
  'To',
  0.959,
  2,
  0.0,
  1.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[217, 456, 248, 458, 248, 479, 216, 478]',
  '[219, 456, 248, 457, 247, 479, 218, 478]',
  '(219, 456)',
  '(248, 457)',
  '(247, 479)',
  '(218, 478)',
  35.65,
  8.93,
  9.6,
  49.28,
  35.64,
  8.9,
  9.62,
  49.31,
  0.62,
  0.39,
  0.56,
  0.41,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xx',
  'Xx',
  0,
  'None',
  1,
  0],
 3: ['Date',
  'Date',
  0.959,
  3,
  1.0,
  1.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[958, 456, 1021, 456, 1022, 479, 957, 480]',
  '[959, 456, 1021, 456, 1021, 480, 959, 480]',
  '(959, 456)',
  '(1021, 456)',
  '(1021, 480)',
  '(959, 480)',
  25.44,
  18.72,
  19.86,
  39.49,
  25.44,
  18.71,
  19.86,
  39.5,
  1.18,
  0.43,
  1.16,
  0.45,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xxxx',
  'Xxxx',
  0,
  'To',
  1,
  0],
 4: ['June 01 . 2018',
  'June',
  0.958,
  4,
  2.0,
  1.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[1253, 454, 1437, 453, 1438, 481, 1253, 482]',
  '[1253, 456, 1312, 455, 1312, 481, 1253, 481]',
  '(1253, 456)',
  '(1312, 455)',
  '(1312, 481)',
  '(1253, 481)',
  21.6,
  22.61,
  23.72,
  35.6,
  19.98,
  22.58,
  25.39,
  35.63,
  3.44,
  0.52,
  1.09,
  0.49,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  'Xxxx',
  'Xxxx dd . dddd',
  0,
  'Date',
  1,
  0],
 5: ['June 01 . 2018',
  '01',
  0.907,
  4,
  2.0,
  1.0,
  1,
  0.0,
  2200,
  1700,
  1,
  '[1253, 454, 1437, 453, 1438, 481, 1253, 482]',
  '[1319, 455, 1350, 455, 1350, 481, 1319, 481]',
  '(1319, 455)',
  '(1350, 455)',
  '(1350, 481)',
  '(1319, 481)',
  21.1,
  23.47,
  24.22,
  34.74,
  19.98,
  22.58,
  25.39,
  35.63,
  3.44,
  0.52,
  0.56,
  0.49,
  1,
  0,
  2,
  1,
  1,
  1,
  0,
  0,
  'dd',
  'Xxxx dd . dddd',
  0,
  'June',
  1,
  0],
 6: ['June 01 . 2018',
  '.',
  0.799,
  4,
  2.0,
  1.0,
  2,
  0.0,
  2200,
  1700,
  1,
  '[1253, 454, 1437, 453, 1438, 481, 1253, 482]',
  '[1355, 455, 1367, 455, 1367, 481, 1355, 481]',
  '(1355, 455)',
  '(1367, 455)',
  '(1367, 481)',
  '(1355, 481)',
  20.88,
  23.94,
  24.45,
  34.26,
  19.98,
  22.58,
  25.39,
  35.63,
  3.44,
  0.52,
  0.22,
  0.49,
  0,
  1,
  2,
  0,
  1,
  0,
  0,
  0,
  '.',
  'Xxxx dd . dddd',
  0,
  '01',
  1,
  0],
 7: ['June 01 . 2018',
  '2018',
  0.951,
  4,
  1.0,
  1.0,
  3,
  0.0,
  2200,
  1700,
  1,
  '[1253, 454, 1437, 453, 1438, 481, 1253, 482]',
  '[1372, 455, 1438, 453, 1437, 482, 1372, 481]',
  '(1372, 455)',
  '(1438, 453)',
  '(1437, 482)',
  '(1372, 481)',
  19.96,
  24.17,
  25.39,
  34.04,
  19.98,
  22.58,
  25.39,
  35.63,
  3.44,
  0.52,
  1.22,
  0.51,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  'dddd',
  'Xxxx dd . dddd',
  0,
  '.',
  1,
  0],
 8: ['Trimax IT Infrastructure and Services Limited',
  'Trimax',
  0.959,
  5,
  0.0,
  2.0,
  0,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[219, 500, 304, 500, 304, 527, 218, 526]',
  '(219, 500)',
  '(304, 500)',
  '(304, 527)',
  '(218, 526)',
  34.34,
  9.51,
  10.99,
  48.7,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  1.61,
  0.49,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxx',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'None',
  0,
  0],
 9: ['Trimax IT Infrastructure and Services Limited',
  'IT',
  0.908,
  5,
  0.0,
  2.0,
  1,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[309, 500, 333, 500, 333, 528, 309, 527]',
  '(309, 500)',
  '(333, 500)',
  '(333, 528)',
  '(309, 527)',
  33.96,
  10.7,
  11.39,
  47.51,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  0.45,
  0.52,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'XX',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'Trimax',
  0,
  0],
 10: ['Trimax IT Infrastructure and Services Limited',
  'Infrastructure',
  0.951,
  5,
  0.0,
  2.0,
  2,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[339, 500, 518, 500, 518, 529, 338, 528]',
  '(339, 500)',
  '(518, 500)',
  '(518, 529)',
  '(338, 528)',
  31.51,
  11.1,
  13.85,
  47.11,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  3.37,
  0.52,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxxxxxxxx',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'IT',
  0,
  0],
 11: ['Trimax IT Infrastructure and Services Limited',
  'and',
  0.944,
  5,
  1.0,
  1.0,
  3,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[523, 500, 573, 500, 572, 529, 523, 529]',
  '(523, 500)',
  '(573, 500)',
  '(572, 529)',
  '(523, 529)',
  30.78,
  13.53,
  14.57,
  44.67,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  0.92,
  0.54,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxx',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'Infrastructure',
  0,
  0],
 12: ['Trimax IT Infrastructure and Services Limited',
  'Services',
  0.959,
  5,
  0.0,
  2.0,
  4,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[578, 500, 684, 500, 683, 529, 577, 529]',
  '(578, 500)',
  '(684, 500)',
  '(683, 529)',
  '(577, 529)',
  29.32,
  14.26,
  16.03,
  43.95,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  1.98,
  0.52,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxx',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'and',
  0,
  0],
 13: ['Trimax IT Infrastructure and Services Limited',
  'Limited',
  0.959,
  5,
  1.0,
  3.0,
  5,
  nan,
  2200,
  1700,
  1,
  '[217, 499, 786, 500, 786, 529, 217, 528]',
  '[689, 500, 786, 500, 785, 528, 688, 529]',
  '(689, 500)',
  '(786, 500)',
  '(785, 528)',
  '(688, 529)',
  27.97,
  15.73,
  17.37,
  42.48,
  27.97,
  9.47,
  17.4,
  48.74,
  10.66,
  0.52,
  1.81,
  0.51,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  'Xxxxxxx',
  'Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx',
  0,
  'Services',
  0,
  0],
 14: ['Invoice No',
  'Invoice',
  0.958,
  6,
  1.0,
  2.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[957, 501, 1100, 501, 1100, 526, 957, 526]',
  '[959, 502, 1053, 501, 1053, 526, 958, 526]',
  '(959, 502)',
  '(1053, 501)',
  '(1053, 526)',
  '(958, 526)',
  24.42,
  19.33,
  20.89,
  38.88,
  23.8,
  19.29,
  21.51,
  38.92,
  2.68,
  0.47,
  1.76,
  0.45,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxx',
  'Xxxxxxx Xx',
  0,
  'Limited',
  1,
  'Invoice Label'],
 15: ['Invoice No',
  'No',
  0.959,
  6,
  1.0,
  2.0,
  1,
  0.0,
  2200,
  1700,
  1,
  '[957, 501, 1100, 501, 1100, 526, 957, 526]',
  '[1059, 501, 1096, 501, 1097, 526, 1059, 526]',
  '(1059, 501)',
  '(1096, 501)',
  '(1097, 526)',
  '(1059, 526)',
  23.85,
  20.64,
  21.47,
  37.57,
  23.8,
  19.29,
  21.51,
  38.92,
  2.68,
  0.47,
  0.69,
  0.47,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xx',
  'Xxxxxxx Xx',
  0,
  'Invoice',
  1,
  0],
 16: ['17-006',
  '17-006',
  0.959,
  7,
  2.0,
  2.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[1252, 500, 1345, 500, 1345, 525, 1252, 526]',
  '[1255, 501, 1343, 500, 1342, 526, 1255, 526]',
  '(1255, 501)',
  '(1343, 500)',
  '(1342, 526)',
  '(1255, 526)',
  20.6,
  23.23,
  24.71,
  34.98,
  20.57,
  23.18,
  24.74,
  35.03,
  1.72,
  0.49,
  1.63,
  0.47,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  'dd-ddd',
  'dd-ddd',
  0,
  'No',
  1,
  0],
 17: ['Mumbai',
  'Mumbai',
  0.959,
  8,
  0.0,
  2.0,
  0,
  nan,
  2200,
  1700,
  1,
  '[216, 548, 322, 548, 322, 574, 216, 574]',
  '[217, 548, 322, 549, 322, 575, 217, 575]',
  '(217, 548)',
  '(322, 549)',
  '(322, 575)',
  '(217, 575)',
  33.46,
  10.12,
  11.87,
  48.09,
  33.47,
  10.11,
  11.85,
  48.1,
  1.98,
  0.49,
  1.96,
  0.51,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxx',
  'Xxxxxx',
  0,
  'None',
  0,
  0],
 18: ['Project Ref:',
  'Project',
  0.952,
  9,
  1.0,
  4.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[957, 604, 1111, 604, 1111, 634, 957, 634]',
  '[958, 605, 1054, 605, 1053, 635, 958, 634]',
  '(958, 605)',
  '(1054, 605)',
  '(1053, 635)',
  '(958, 634)',
  23.03,
  20.68,
  22.33,
  37.53,
  22.29,
  20.65,
  23.08,
  37.56,
  2.88,
  0.56,
  1.8,
  0.56,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxx',
  'Xxxxxxx Xxx:',
  0,
  'None',
  1,
  0],
 19: ['Project Ref:',
  'Ref:',
  0.916,
  9,
  1.0,
  4.0,
  1,
  0.0,
  2200,
  1700,
  1,
  '[957, 604, 1111, 604, 1111, 634, 957, 634]',
  '[1059, 605, 1112, 605, 1111, 634, 1059, 635]',
  '(1059, 605)',
  '(1112, 605)',
  '(1111, 634)',
  '(1059, 635)',
  22.26,
  22.01,
  23.08,
  36.2,
  22.29,
  20.65,
  23.08,
  37.56,
  2.88,
  0.56,
  0.95,
  0.54,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxx:',
  'Xxxxxxx Xxx:',
  0,
  'Project',
  1,
  0],
 20: ['Our Proposal',
  'Our',
  0.958,
  10,
  2.0,
  4.0,
  0,
  0.0,
  2200,
  1700,
  1,
  '[1252, 604, 1423, 604, 1423, 635, 1252, 635]',
  '[1255, 606, 1302, 605, 1301, 634, 1253, 632]',
  '(1255, 606)',
  '(1302, 605)',
  '(1301, 634)',
  '(1253, 632)',
  19.75,
  24.62,
  25.6,
  33.59,
  18.16,
  24.55,
  27.23,
  33.66,
  3.2,
  0.58,
  0.9,
  0.49,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxx',
  'Xxx Xxxxxxxx',
  0,
  'Ref:',
  1,
  0],
 21: ['Our Proposal',
  'Proposal',
  0.959,
  10,
  2.0,
  4.0,
  1,
  0.0,
  2200,
  1700,
  1,
  '[1252, 604, 1423, 604, 1423, 635, 1252, 635]',
  '[1308, 605, 1423, 604, 1420, 636, 1306, 634]',
  '(1308, 605)',
  '(1423, 604)',
  '(1420, 636)',
  '(1306, 634)',
  18.16,
  25.31,
  27.2,
  32.9,
  18.16,
  24.55,
  27.23,
  33.66,
  3.2,
  0.58,
  2.15,
  0.54,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxx',
  'Xxx Xxxxxxxx',
  0,
  'Our',
  1,
  0],
 22: ['S.No',
  'S.No',
  0.848,
  11,
  0.0,
  0.0,
  0,
  1.0,
  2200,
  1700,
  1,
  '[214, 698, 278, 698, 279, 722, 214, 722]',
  '[216, 698, 277, 698, 277, 722, 216, 722]',
  '(216, 698)',
  '(277, 698)',
  '(277, 722)',
  '(216, 722)',
  32.08,
  12.09,
  13.22,
  46.12,
  32.07,
  12.06,
  13.24,
  46.14,
  1.2,
  0.45,
  1.12,
  0.45,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  'X.Xx',
  'X.Xx',
  0,
  'None',
  1,
  0],
 23: ['Particulars',
  'Particulars',
  0.958,
  12,
  1.0,
  0.0,
  0,
  1.0,
  2200,
  1700,
  1,
  '[745, 698, 886, 698, 886, 725, 745, 725]',
  '[746, 699, 886, 700, 886, 725, 746, 725]',
  '(746, 699)',
  '(886, 700)',
  '(886, 725)',
  '(746, 725)',
  24.0,
  19.12,
  21.31,
  39.09,
  24.02,
  19.09,
  21.31,
  39.12,
  2.64,
  0.51,
  2.64,
  0.47,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxxxxx',
  'Xxxxxxxxxxx',
  0,
  'None',
  1,
  'Headers'],
 24: ['Price(INR)',
  'Price(INR)',
  0.867,
  13,
  2.0,
  0.0,
  0,
  1.0,
  2200,
  1700,
  1,
  '[1398, 700, 1526, 699, 1526, 728, 1398, 728]',
  '[1400, 701, 1527, 700, 1527, 729, 1399, 728]',
  '(1400, 701)',
  '(1527, 700)',
  '(1527, 729)',
  '(1399, 728)',
  15.52,
  27.79,
  29.84,
  30.41,
  15.54,
  27.75,
  29.82,
  30.45,
  2.38,
  0.54,
  2.4,
  0.53,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  'Xxxxx(XXX)',
  'Xxxxx(XXX)',
  0,
  'None',
  1,
  0],
 25: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'Payment',
  0.959,
  14,
  0.0,
  1.0,
  0,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[305, 734, 406, 734, 406, 763, 305, 762]',
  '(305, 734)',
  '(406, 734)',
  '(406, 763)',
  '(305, 762)',
  29.9,
  13.75,
  15.46,
  44.46,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.91,
  0.52,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'None',
  0,
  0],
 26: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'for',
  0.947,
  14,
  1.0,
  1.0,
  1,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[412, 734, 446, 734, 446, 763, 412, 763]',
  '(412, 734)',
  '(446, 734)',
  '(446, 763)',
  '(412, 763)',
  29.37,
  15.16,
  15.99,
  43.05,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.64,
  0.52,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'Payment',
  0,
  0],
 27: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'the',
  0.957,
  14,
  1.0,
  1.0,
  2,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[451, 734, 489, 734, 489, 763, 451, 763]',
  '(451, 734)',
  '(489, 734)',
  '(489, 763)',
  '(451, 763)',
  28.8,
  15.68,
  16.56,
  42.53,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.71,
  0.56,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'for',
  0,
  0],
 28: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'month',
  0.958,
  14,
  1.0,
  1.0,
  3,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[495, 734, 570, 734, 570, 763, 495, 763]',
  '(495, 734)',
  '(570, 734)',
  '(570, 763)',
  '(495, 763)',
  27.73,
  16.26,
  17.63,
  41.95,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.4,
  0.54,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxxxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'the',
  0,
  'Date Label'],
 29: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'of',
  0.958,
  14,
  1.0,
  6.0,
  4,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[576, 734, 599, 734, 599, 764, 576, 763]',
  '(576, 734)',
  '(599, 734)',
  '(599, 764)',
  '(576, 763)',
  27.34,
  17.33,
  18.03,
  40.88,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.43,
  0.54,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'month',
  0,
  0],
 30: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'May',
  0.958,
  14,
  1.0,
  1.0,
  5,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[604, 734, 655, 734, 655, 764, 605, 764]',
  '(604, 734)',
  '(655, 734)',
  '(655, 764)',
  '(605, 764)',
  26.6,
  17.7,
  18.77,
  40.51,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.94,
  0.56,
  0,
  0,
  2,
  1,
  0,
  0,
  0,
  0,
  'Xxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'of',
  0,
  0],
 31: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  '2018',
  0.946,
  14,
  1.0,
  1.0,
  6,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[660, 734, 720, 734, 720, 764, 660, 764]',
  '(660, 734)',
  '(720, 734)',
  '(720, 764)',
  '(660, 764)',
  25.74,
  18.44,
  19.63,
  39.77,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.12,
  0.56,
  1,
  0,
  2,
  0,
  1,
  1,
  0,
  0,
  'dddd',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'May',
  0,
  0],
 32: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'for',
  0.897,
  14,
  1.0,
  1.0,
  7,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[725, 734, 757, 734, 758, 764, 725, 764]',
  '(725, 734)',
  '(757, 734)',
  '(758, 764)',
  '(725, 764)',
  25.25,
  19.3,
  20.13,
  38.91,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.62,
  0.58,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  '2018',
  0,
  0],
 33: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'the',
  0.949,
  14,
  1.0,
  1.0,
  8,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[763, 734, 802, 735, 803, 764, 763, 764]',
  '(763, 734)',
  '(802, 735)',
  '(803, 764)',
  '(763, 764)',
  24.65,
  19.8,
  20.73,
  38.4,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.75,
  0.56,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'for',
  0,
  0],
 34: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'deployment',
  0.958,
  14,
  1.0,
  1.0,
  9,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[808, 735, 944, 735, 945, 764, 808, 764]',
  '(808, 735)',
  '(944, 735)',
  '(945, 764)',
  '(808, 764)',
  22.77,
  20.41,
  22.61,
  37.8,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  2.54,
  0.56,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xxxxxxxxxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'the',
  0,
  0],
 35: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'of',
  0.958,
  14,
  1.0,
  6.0,
  10,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[950, 735, 975, 735, 976, 763, 951, 764]',
  '(950, 735)',
  '(975, 735)',
  '(976, 763)',
  '(951, 764)',
  22.36,
  22.29,
  23.01,
  35.92,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  0.47,
  0.54,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'xx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'deployment',
  0,
  0],
 36: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'SMART',
  0.958,
  14,
  1.0,
  1.0,
  11,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[980, 735, 1072, 735, 1073, 763, 981, 763]',
  '(980, 735)',
  '(1072, 735)',
  '(1073, 763)',
  '(981, 763)',
  21.07,
  22.69,
  24.29,
  35.52,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.72,
  0.56,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'XXXXX',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'of',
  0,
  0],
 37: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'Analytics',
  0.929,
  14,
  1.0,
  3.0,
  12,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[1078, 735, 1184, 735, 1185, 762, 1078, 763]',
  '(1078, 735)',
  '(1184, 735)',
  '(1185, 762)',
  '(1078, 763)',
  19.59,
  23.98,
  25.76,
  34.22,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.98,
  0.52,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'SMART',
  0,
  0],
 38: ['Payment for the month of May 2018 for the deployment of SMART Analytics Solution',
  'Solution',
  0.959,
  14,
  1.0,
  1.0,
  13,
  nan,
  2200,
  1700,
  1,
  '[304, 734, 1287, 734, 1287, 763, 304, 763]',
  '[1189, 735, 1285, 735, 1287, 761, 1190, 762]',
  '(1189, 735)',
  '(1285, 735)',
  '(1287, 761)',
  '(1190, 762)',
  18.26,
  25.45,
  27.09,
  32.76,
  18.24,
  13.73,
  27.12,
  44.48,
  18.39,
  0.54,
  1.8,
  0.52,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  'Xxxxxxxx',
  'Xxxxxxx xxx xxx xxxxx xx Xxx dddd xxx xxx xxxxxxxxxx xx XXXXX Xxxxxxxxx Xxxxxxxx',
  0,
  'Analytics',
  0,
  0],

In [24]:
df = pd.DataFrame(df)

In [25]:
df

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,INTELYTICA,Invoice,To,Date,June 01 . 2018,June 01 . 2018,June 01 . 2018,June 01 . 2018,Trimax IT Infrastructure and Services Limited,Trimax IT Infrastructure and Services Limited,...,Intelytica Business Analytics Private Limited,Intelytica Business Analytics Private Limited,Intelytica Business Analytics Private Limited,Intelytica Business Analytics Private Limited,"596/28 SVR Colony Khairtabad, TS, India-500004","596/28 SVR Colony Khairtabad, TS, India-500004","596/28 SVR Colony Khairtabad, TS, India-500004","596/28 SVR Colony Khairtabad, TS, India-500004","596/28 SVR Colony Khairtabad, TS, India-500004","596/28 SVR Colony Khairtabad, TS, India-500004"
1,INTELYTICA,Invoice,To,Date,June,01,.,2018,Trimax,IT,...,Business,Analytics,Private,Limited,596/28,SVR,Colony,"Khairtabad,","TS,",India-500004
2,0.959,0.938,0.959,0.959,0.958,0.907,0.799,0.951,0.959,0.908,...,0.959,0.951,0.959,0.959,0.958,0.952,0.959,0.913,0.91,0.941
3,0,1,2,3,4,4,4,4,5,5,...,40,40,40,40,41,41,41,41,41,41
4,NaN,1,0,1,2,2,2,1,0,0,...,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2,1,1,1,1,1,1,2,2,...,3,3,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,0,0,0,1,2,3,0,1,...,1,2,3,4,0,1,2,3,4,5
7,NaN,NaN,0,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2200,2200,2200,2200,2200,2200,2200,2200,2200,2200,...,2200,2200,2200,2200,2200,2200,2200,2200,2200,2200
9,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
10,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
11,"[1187, 196, 1385, 196, 1385, 224, 1187, 223]","[831, 362, 957, 362, 958, 395, 831, 396]","[217, 456, 248, 458, 248, 479, 216, 478]","[958, 456, 1021, 456, 1022, 479, 957, 480]","[1253, 454, 1437, 453, 1438, 481, 1253, 482]","[1253, 454, 1437, 453, 1438, 481, 1253, 482]","[1253, 454, 1437, 453, 1438, 481, 1253, 482]","[1253, 454, 1437, 453, 1438, 481, 1253, 482]","[217, 499, 786, 500, 786, 529, 217, 528]","[217, 499, 786, 500, 786, 529, 217, 528]",...,"[527, 2033, 1188, 2032, 1188, 2068, 527, 2070]","[527, 2033, 1188, 2032, 1188, 2068, 527, 2070]","[527, 2033, 1188, 2032, 1188, 2068, 527, 2070]","[527, 2033, 1188, 2032, 1188, 2068, 527, 2070]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]","[589, 2074, 1129, 2073, 1129, 2102, 589, 2103]"
12,"[1189, 196, 1384, 197, 1384, 225, 1188, 224]","[833, 363, 958, 363, 958, 396, 832, 397]","[219, 456, 248, 457, 247, 479, 218, 478]","[959, 456, 1021, 456, 1021, 480, 959, 480]","[1253, 456, 1312, 455, 1312, 481, 1253, 481]","[1319, 455, 1350, 455, 1350, 481, 1319, 481]","[1355, 455, 1367, 455, 1367, 481, 1355, 481]","[1372, 455, 1438, 453, 1437, 482, 1372, 481]","[219, 500, 304, 500, 304, 527, 218, 526]","[309, 500, 333, 500, 333, 528, 309, 527]",...,"[675, 2033, 810, 2033, 809, 2070, 675, 2070]","[816, 2033, 953, 2033, 953, 2069, 816, 2070]","[960, 2033, 1070, 2033, 1070, 2067, 960, 2069]","[1077, 2033, 1188, 2033, 1187, 2063, 1076, 2066]","[589, 2075, 670, 2075, 669, 2102, 589, 2100]","[675, 2075, 719, 2075, 719, 2102, 674, 2102]","[726, 2075, 802, 2075, 801, 2103, 725, 2103]","[807, 2075, 939, 2075, 938, 2103, 806, 2103]","[944, 2075, 976, 2075, 975, 2103, 943, 2103]","[981, 2075, 1129, 2074, 1127, 2100, 980, 2103]"
13,"(1189, 196)","(833, 363)","(219, 456)","(959, 456)","(1253, 456)","(1319, 455)","(1355, 455)","(1372, 455)","(219, 500)","(309, 500)",...,"(675, 2033)","(816, 2033)","(960, 2033)","(1077, 2033)","(589, 2075)","(675, 2075)","(726, 2075)","(807, 2075)","(944, 2075)","(981, 2075)"
14,"(1384, 197)","(958, 363)","(248, 457)","(1021, 456)","(1312, 455)","(1350, 455)","(1367, 455)","(1438, 453)","(304, 500)","(333, 500)",...,"(810, 2033)","(953, 2033)","(1070, 2033)","(1188, 2033)","(670, 2075)","(719, 2075)","(802, 2075)","(939, 2075)","(976, 2075)","(1129, 2074)"
15,"(1384, 225)","(958, 396)","(247, 479)","(1021, 480)","(1312, 481)","(1350, 481)","(1367, 481)","(1437, 482)","(304, 527)","(333, 528)",...,"(809, 2070)","(953, 2069)","(1070, 2067)","(1187, 2063)","(669, 2102)","(719, 2102)","(801, 2103)","(938, 2103)","(975, 2103)","(1127, 2100)"
16,"(1188, 224)","(832, 397)","(218, 478)","(959, 480)","(1253, 481)","(1319, 481)","(1355, 481)","(1372, 481)","(218, 526)","(309, 527)",...,"(675, 2070)","(816, 2070)","(960, 2069)","(1076, 2066)","(589, 2100)","(674, 2102)","(725, 2103)","(806, 2103)","(943, 2103)","(980, 2103)"
17,24.06,27.5,35.65,25.44,21.6,21.1,20.88,19.96,34.34,33.96,...,7.37,5.48,3.93,2.37,8.67,8.02,6.92,5.11,4.62,2.61
18,18.32,15.82,8.93,18.72,22.61,23.47,23.94,24.17,9.51,10.7,...,35.82,37.69,39.59,41.14,35.24,36.38,37.05,38.13,39.94,40.43
19,21.29,17.91,9.6,19.86,23.72,24.22,24.45,25.39,10.99,11.39,...,38.09,39.98,41.5,42.99,36.66,37.32,38.42,40.23,40.72,42.69
20,39.89,42.39,49.28,39.49,35.6,34.74,34.26,34.04,48.7,47.51,...,22.38,20.52,18.61,17.07,22.97,21.83,21.15,20.08,18.27,17.78
21,24.06,27.53,35.64,25.44,19.98,19.98,19.98,19.98,27.97,27.97,...,2.38,2.38,2.38,2.38,2.62,2.62,2.62,2.62,2.62,2.62
22,18.3,15.78,8.9,18.71,22.58,22.58,22.58,22.58,9.47,9.47,...,33.87,33.87,33.87,33.87,35.23,35.23,35.23,35.23,35.23,35.23
23,21.29,17.9,9.62,19.86,25.39,25.39,25.39,25.39,17.4,17.4,...,43.07,43.07,43.07,43.07,42.74,42.74,42.74,42.74,42.74,42.74
24,39.91,42.43,49.31,39.5,35.63,35.63,35.63,35.63,48.74,48.74,...,24.34,24.34,24.34,24.34,22.98,22.98,22.98,22.98,22.98,22.98
25,3.7,2.36,0.62,1.18,3.44,3.44,3.44,3.44,10.66,10.66,...,12.35,12.35,12.35,12.35,10.08,10.08,10.08,10.08,10.08,10.08
26,0.52,0.64,0.39,0.43,0.52,0.52,0.52,0.52,0.52,0.52,...,0.67,0.67,0.67,0.67,0.54,0.54,0.54,0.54,0.54,0.54
27,3.67,2.34,0.56,1.16,1.09,0.56,0.22,1.22,1.61,0.45,...,2.51,2.56,2.04,2.04,1.52,0.82,1.42,2.47,0.6,2.71
28,0.52,0.62,0.41,0.45,0.49,0.49,0.49,0.51,0.49,0.52,...,0.67,0.69,0.66,0.58,0.47,0.49,0.52,0.49,0.52,0.47
29,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
30,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,1,1
31,0,0,0,0,1,2,2,1,1,2,...,2,2,2,1,1,2,2,2,2,1
32,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
34,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
37,XXXXXXXXXX,Xxxxxxx,Xx,Xxxx,Xxxx,dd,.,dddd,Xxxxxx,XX,...,Xxxxxxxx,Xxxxxxxxx,Xxxxxxx,Xxxxxxx,ddd/dd,XXX,Xxxxxx,"Xxxxxxxxxx,","XX,",Xxxxx-dddddd
38,XXXXXXXXXX,Xxxxxxx,Xx,Xxxx,Xxxx dd . dddd,Xxxx dd . dddd,Xxxx dd . dddd,Xxxx dd . dddd,Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx,Xxxxxx XX Xxxxxxxxxxxxxx xxx Xxxxxxxx Xxxxxxx,...,Xxxxxxxxxx Xxxxxxxx Xxxxxxxxx Xxxxxxx Xxxxxxx,Xxxxxxxxxx Xxxxxxxx Xxxxxxxxx Xxxxxxx Xxxxxxx,Xxxxxxxxxx Xxxxxxxx Xxxxxxxxx Xxxxxxx Xxxxxxx,Xxxxxxxxxx Xxxxxxxx Xxxxxxxxx Xxxxxxx Xxxxxxx,"ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd","ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd","ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd","ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd","ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd","ddd/dd XXX Xxxxxx Xxxxxxxxxx, XX, Xxxxx-dddddd"
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,None,None,None,To,Date,June,01,.,None,Trimax,...,Intelytica,Business,Analytics,None,None,596/28,SVR,Colony,"Khairtabad,",SVR
41,0,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,Invoice Label,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
c[0]

   a  b
0  1  2

In [ ]:
text